name: commonmark
on:
  workflow_dispatch:
jobs:
  a:
    runs-on: ubuntu-latest
    steps:
    - run: |
        sudo apt-get update
        sudo apt-get install -y lua5.3 liblua5.3-dev luarocks texlive-xetex texlive-lang-greek
        sudo luarocks install lcmark
        sudo luarocks install lyaml
        git clone --depth=1 --single-branch --branch 0.31.2 https://github.com/commonmark/commonmark-spec
        cd commonmark-spec
        make spec.pdf
    - uses: actions/upload-artifact@main
      with:
        name: bin
        path: commonmark-spec/spec.*
