name: docker pull
run-name: docker load < a.tar.zst

on:
  workflow_dispatch:
    inputs:
      image: {type: text}
      pullopts: {type: text, required: false}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - run: |
        docker pull ${{ inputs.pullopts }} ${{ inputs.image }}
        docker save ${{ inputs.image }} | zstd -19 > a.tar.zst
    - uses: actions/upload-artifact@main
      with:
        name: downloads
        path: a.tar.zst
