name: endoftime

on:
  schedule:
  - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  a:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - run: |
        curl 'https://raw.githubusercontent.com/Kengxxiao/ArknightsGameData/master/zh_CN/gamedata/excel/activity_table.json' | jq --compact-output '{actThemes: .actThemes, basicInfo: .basicInfo}' | tee activity_table.json || true
        mkdir -p request_log
        curl --compressed 101.43.244.76:15135 | tee request_log/$(date +%s).txt
        git add -A; git -c user.email=@ -c user.name="GitHub Actions" commit --allow-empty-message -m "" && git push origin master || true
        python plot.py > all.txt
        git add -A; git -c user.email=@ -c user.name="GitHub Actions" commit --allow-empty-message -m "" && git push origin master || true
