name: HoTT
on:
  workflow_dispatch:
jobs:
  a:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
      with:
        repository: 'HoTT/book'
    - run: |
        sudo apt-get update
        sudo apt-get install -y texlive-latex-recommended apt-file texlive-fonts-recommended texlive-latex-extra texlive-science
        # tlmgr init-usertree
    #- uses: mxschmitt/action-tmate@v3
    - run: |
        make hott-online.pdf
        make hott-a4-exercises.pdf
        make exercise_solutions.pdf
        mkdir build
        mv *.pdf build || true
    - uses: actions/upload-artifact@main
      with:
        name: output
        path: build
