# 创建垃圾提交以保持周期性GitHub Actions不被关停
name: Keep-Alive

on:
  schedule:
  - cron: '19 19 8/10 * *'
  workflow_dispatch:

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@main
    - run: |
        openssl rand 32 | xxd - something.txt
        git add -A
        git -c user.email=@ -c user.name="GitHub Actions" commit --allow-empty-message -m ""
        git push origin master
